.header {
    height: 50px;
    background-color: #34495E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.link {
    width: 95px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 2px solid;
    border-color: #ECF0F1;

}

.active {
    border-color: #D35400;
}